div.css-1xarl3l.e16fv1kl1{
    font-size: 12pt;
    color: red
    }

div.css-50ug3q.e16fv1kl3{
    background-color:lightcyan;
    border: 1px solid lightcyan;
    padding: 10px
    }

label.css-1xvmym8.e16fv1kl2{
     font-size: 12pt;
     font-weight: bold;
     font-style: italic;
     text-decoration:underline;
     color: blue
     }
     
div.css-rvekum.e16nr0p33{
     font-size: 14pt;
     font-weight: bold;
     color: black
}

div.css-1djdyxw.ek41t0m0{
     font-size: 8pt;
     color: black

}

div.css-183lzff.eyqtai90{
     font-size: 10pt;
     font-weight: bold;
     color: black

}

div.css-15tx938.effi0qh3{
     font-size: 10pt;
     font-weight: bold;
     color: black

}

div.css-17bpo0f.edfmue0{
     font-size: 10pt;
     font-weight: bold;
     color: black

}

